# git rm -r --cached .
**/__pycache__/
pyparsers-local/
airflow-local/logs/
snipeit-local/
rocketchat-local/
dockermailserver-local/docker-data/
notes/
aws-local/tmp/
aws-local/*.json
aws-local/examples/*.json